@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

html {
  font-size: 16px;
  height: auto;
}

body {
  font-size: 16px;
  color: #000;
  line-height: 1.4;
  letter-spacing: -0.34px;
  word-break: keep-all;
}

button {
  cursor: pointer;
  background-color: transparent;
}